{% extends 'baseapp/index.html' %}

{% load static %}

{% load i18n %}

{% block content %}
<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">На главную</a></li>
				<li class="active"> Авторизация </li>
			</ul>
		</div>
	</div>
</div>

<div class="login-register-area pt-70 pb-75">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a>
							<h4> Авторизация </h4>
						</a>
					</div>
					<div class="tab-content">
						<div class="login-form-container">
							<div class="button-box">
								<div class="login-toggle-btn mb-20">
									<a href="{% url 'account_signup' %}">Нет учетной записи?</a>
                                 </div>
							</div>
							<div class="login-register-form">
								<form action="{% url 'account_login' %}" method="post">
									{% csrf_token %}

									{{ form.non_field_errors }}

									{% for error in form.login.errors %}
									<p  style="color: red">* {{ error|escape }}</p>
									{% endfor %}
									<input name="login" placeholder="Email" type="email" required id="id_login">

									{% for error in form.password.errors %}
									{% if forloop.first %}
									<p  style="color: red">* {{ error|escape }}</p>
									{% endif %}
									{% endfor %}

									<input type="password" name="password" placeholder="Пароль" required id="id_password">


									{% if redirect_field_value %}
									<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
									{% endif %}

									<div class="button-box">
										<div class="login-toggle-btn mb-20">
                                            <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                                         </div>
										<button type="submit"><span>Войти</span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}