{% extends 'baseapp/index.html' %}

{% load i18n %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">Главная </a></li>
				<li class="active">Сбросить пароль</li>
			</ul>
		</div>
	</div>
</div>

<div class="login-register-area pt-70 pb-40">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a>
							<h4> Сброс пароля </h4>
						</a>
					</div>
					<div class="tab-content">
						<div class="login-form-container">
							<div class="login-register-form">

								{% if user.is_authenticated %}
							    {% include "account/snippets/already_logged_in.html" %}
							    {% endif %}


							    <p align="center">
							    	Мы отправили Вам письмо для сброса пароля.  
								</p>
								<p align="center">
									Пожалуйста свяжитесь с нами если Вы не получили его в течение нескольких минут.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}