{% extends 'baseapp/index.html' %}

{% load i18n %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">Главная </a></li>
				<li class="active">Пароль успешно изменен</li>
			</ul>
		</div>
	</div>
</div>

<div class="cart-main-area pt-60 pb-65">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12" align="center">
				<div class="col-lg-12 col-md-12">
					<div class="discount-code-wrapper">
						<div class="">
							<h4 class="cart-bottom-title section-bg-gray">Пароль успешно изменен</h4> 
						</div>
						<div class="discount-code">
							<form action="{% url 'account_login' %}">
								<button class="cart-btn-2" type="submit">Авторизация</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}