{% extends 'baseapp/index.html' %}

{% load i18n %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">Главная </a></li>
				<li class="active">Сбросить пароль</li>
			</ul>
		</div>
	</div>
</div>

<div class="login-register-area pt-70 pb-75">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a>
							<h4> Сброс пароля </h4>
						</a>
					</div>
					<div class="tab-content">
						<div class="login-form-container">
							<div class="login-register-form">

								{% if user.is_authenticated %}
							    {% include "account/snippets/already_logged_in.html" %}
							    {% endif %}


							    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля. 
								</p>

								<form action="{% url 'account_reset_password' %}" method="post">
									{% csrf_token %}

									{% for error in form.non_field_errors %}

									<p  style="color: red">* {{ error|escape }}</p>

									{% endfor %}

									{% for error in form.email.errors %}
						            <p  style="color: red">* {{ error|escape }}</p>
						            {% endfor %}

						            <input name="email" placeholder="Email" type="email" required id="id_email">

						            <div class="button-box">
										<button type="submit">Сбросить пароль</button>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}