{% extends 'baseapp/index.html' %}

{% load i18n %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">На главную</a></li>
				<li class="active"> Сменить пароль </li>
			</ul>
		</div>
	</div>
</div>

<div class="login-register-area pt-70 pb-75">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a>
							<h4> Смена пароля </h4>
						</a>
					</div>
					<div class="tab-content">
						<div class="login-form-container">
							<div class="login-register-form">
								<form action="{% url 'account_change_password' %}" method="post">
									{% csrf_token %}

									{% for error in form.oldpassword.errors %}
									{% if forloop.first %}
									<p  style="color: red">* {{ error|escape }}</p>
									{% endif %}
									{% endfor %}

									<input type="password" name="oldpassword" placeholder="Текущий пароль" required id="id_oldpassword">

									{% for error in form.password1.errors %}
									{% if forloop.first %}
									<p  style="color: red">* {{ error|escape }}</p>
									{% endif %}
									{% endfor %}

									<input type="password" name="password1" placeholder="Новый пароль" required id="id_password1">


									{% for error in form.password2.errors %}
									{% if forloop.first %}
									<p  style="color: red">* {{ error|escape }}</p>
									{% endif %}
									{% endfor %}

									<input type="password" name="password2" placeholder="Повторите новый пароль" required id="id_password2">

									<div class="button-box">
										<button type="submit">Изменить пароль</button>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}