{% extends 'baseapp/index.html' %}

{% load i18n %}

{% block content %}

<div class="breadcrumb-area gray-bg">
	<div class="container">
		<div class="breadcrumb-content">
			<ul>
				<li><a href="{% url 'show_index' %}">Главная </a></li>
				<li class="active">Изменить пароль</li>
			</ul>
		</div>
	</div>
</div>

<div class="login-register-area pt-70 pb-75">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a>
							<h4>{% if token_fail %}Ссылка не действительна{% else %}Изменить пароль{% endif %}</h4>
						</a>
					</div>
					<div class="tab-content">
						<div class="login-form-container">
							<div class="login-register-form">

								{% if token_fail %}
									<p>Ссылка для сброса пароля оказалась недействительной. Пожалуйста, запросите <a href="{% url 'account_reset_password' %}">новый сброс пароля</a>.</p>
								{% else %}
									{% if form %}
										<form action="{{ action_url }}" method="post">
											{% csrf_token %}

											{{ form.non_field_errors }}

											{% for error in form.password1.errors %}
											{% if forloop.first %}
								            <p  style="color: red">* {{ error|escape }}</p>
								            {% endif %}
								            {% endfor %}

								            <input type="password" name="password1" placeholder="Новый пароль" required id="id_password1">

								            {% for error in form.password2.errors %}
											{% if forloop.first %}
								            <p  style="color: red">* {{ error|escape }}</p>
								            {% endif %}
								            {% endfor %}

								            <input type="password" name="password2" placeholder="Новый пароль (еще раз)" required id="id_password2">


								            <div class="button-box">
												<button type="submit">Изменить пароль</button>
											</div>
										</form>
									{% else %}
										<p>{% trans 'Your password is now changed.' %}</p>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}